*{
    margin: 0;
    padding: 9;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}
body{
    display: flex;
    align-items: center;
    justify-content:center ;
    min-height: 100vh;
    background-color: rgb(8, 118, 245);
    
}
.container{
    width: 450px;
    background: #fff;
    border-radius: 8px;
}