*{
    margin: 0;
    padding: 9;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}
body{
    display: flex;
    align-items: center;
    justify-content:center ;
    min-height: 100vh;
    background-color: rgb(8, 118, 245);
    
}
.container{
    width: 450px;
    background: #fff;
    border-radius: 8px;
}
.container h1{
    font-weight: 600;
    font-size:1.5rem;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid rgb(170, 168, 168);

}
.wrapper{
    margin: 1.25rem 1.75rem;
}
.wrapper .input-box{
    position: relative;
}
.input-box input{
    width: 100%;
    height: 53px;
    color: black;
    background: none;
    font-size: 1.06rem;
    font-weight: 600;
    letter-spacing: 1.4px;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 2.85rem 0 1rem;
}
.input-box span{
    position: absolute;
    right: 13px;
    cursor: pointer;
    line-height: 53px;
    color: #707070;
}
.wrapper .pass-indicator{
    width: 100%;
    height: 4px;
    border-radius:25px;
    background: #b8b4b4;
    margin-top: 0.75rem;
    position: relative;
}
.pass-indicator::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    border-radius: inherit;
    transition: width 0.3s ease;
}
.pass-indicator#weak::before{
    width: 20%;
    background: red;
}
.pass-indicator#medium::before{
    width: 50%;
    background: rgb(255, 238, 3);
}
.pass-indicator#strong::before{
    width: 100%;
    background: rgb(9, 245, 9);
}
.wrapper .pass-length{
    margin: 1.56rem 0 1.25rem;
}
.pass-length .details{
    display: flex;
    justify-content: space-between;
}
.pass-length input{
    width: 100%;
    height: 5px;
}
.pass-setting .options{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}